<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="/img/casa.webp" alt="Stich" width="30" height="24">
          </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="../">Home</a>
          </li>
          
          
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Acesso R치pido
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/imoveis/cadastrar">Cadastro de Im칩vel</a></li>
              <li><a class="dropdown-item" href="/imoveis">Veja os im칩veis cadastrados</a></li>
              <li><a class="dropdown-item" href="/corretores/cadastrar">Cadastro de Corretor</a></li>
              <li><a class="dropdown-item" href="/corretores">Veja os corretores j치 cadastrados</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#" aria-disabled="true">Outras coisas</a></li>
            </ul>
          </li>
        </ul>

        <ul>
          
          

            <a href="/usuarios/logout">

              <!-- <i class="gg-log-out"></i> -->
              <button type="button" class="btn btn-danger" >Log Out </button>

          </a>

            

          <link href='https://unpkg.com/css.gg@2.0.0/icons/css/log-out.css' rel='stylesheet'>
        </ul>

        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Quem Procura" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Acha:)</button>
        </form>
      </div>
    </div>
  </nav>