/* .titulo {
    border: 30px solid rgba(224, 242, 126, 0.889);
    background-color: rgb(150, 215, 255);
    transition: 1s;
    font-size: 40px;
    cursor: pointer;
}
.heading {
    width: 100%;
    margin-left: 1rem;
    font-weight: 900;
    font-size: 1em;
    text-transform: uppercase;
    letter-spacing: 0.1ch;
    line-height: 1;
    position: relative;
  } */
  /* .texto{
    text-decoration-color: blueviolet;
    /* -moz-text-decoration-line: line-through; */
  /* } */